<div class="form-group">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link text-center">{{timeZone}}</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">{{timeZoneDate | date: 'MMM dd yyyy'}} {{timeZoneDate | date: 'HH:mm:ss'}}</li>
                </ul>
            </div>
        </div>

    </div>
</div>