<div class="form-group">
    <div class="card" style="min-height: 365px;">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link">{{ incidentTitle }}</a>
                    </li>
                </ul>
            </div>
        <div class="row" [hidden]="!showCountDown()">
            <div class="col-lg-6">

                <div class="card-block">
                    <div [attr.data-timer]="elapseTime" [ngClass]="incidentNumber" style="min-height: 300px;">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Incident Number: {{ incidentNumber }}</li>
                    <li class="list-group-item">Severity Number: {{ severityNumber }}</li>
                    <li class="list-group-item">Tech/OP Bridge: {{ techOpBridge }}</li>
                    <li class="list-group-item">IM/Tech Lead: {{ imTechLead }}</li>
                    <li class="list-group-item">Incident Summary: {{ incidentSummary }}</li>
                </ul>
            </div>
        </div>
        <div class="row" [hidden]="!showCountUp()">
            <div class="col-lg-12">
                <div class="card-block">

                    <div [attr.data-date]="startdDate" [ngClass]="incidentNumberCounter" class="col-lg-12" style="min-height: 170px;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Incident Number: {{incidentNumber}}</li>
                    <li class="list-group-item">Severity Number: {{severityNumber}}</li>
                    <li class="list-group-item">Tech/OP Bridge: {{techOpBridge}}</li>
                </ul>
            </div>
            <div class="col-lg-6">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">IM/Tech Lead: {{imTechLead}}</li>
                    <li class="list-group-item">Incident Summary: {{incidentSummary}}</li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- 
<div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <i class="col-xs-3 glyphicon glyphicon-warning-sign" style="font-size: 5em;"></i>
                    <div class="col-xs-9 text-right">
                        <span style="font-size: 40px;">{{incidentLevel}}</span>
                        <span>{{incidentTitle}}</span>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="min-height: 335px;">
                <div [hidden]="!showCountDown()" [attr.data-timer]="elapseTime" id={{incidentNumber}} class="col-lg-6" style="min-height: 300px;">
                </div>
    
                <div [hidden]="!showCountUp()" [attr.data-date]="startdDate" id={{incidentNumberCounter}} class="col-lg-12" style="min-height: 170px;">
                </div> 

                <div class="col-lg-6" *ngIf="showCountDown()">
                    <div class="form-horizontal" style="margin-top:13%;">
                        <div class="form-group">
                            <label class="control-label col-lg-12" style="text-align: left;">Incident Number: {{incidentNumber}}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-12" style="text-align: left;">Severity Number: {{severityNumber}}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-12" style="text-align: left;">Tech/OP Bridge: {{techOpBridge}}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-12" style="text-align: left;">IM/Tech Lead: {{imTechLead}}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-12" style="text-align: left;">Incident Summary: {{incidentSummary}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="showCountUp()">
                        <div class="form-horizontal">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-12" style="text-align: left;">Incident Number: {{incidentNumber}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-12" style="text-align: left;">Severity Number: {{severityNumber}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-12" style="text-align: left;">Tech/OP Bridge: {{techOpBridge}}</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-12" style="text-align: left;">IM/Tech Lead: {{imTechLead}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-12" style="text-align: left;">Incident Summary: {{incidentSummary}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div> -->