<div class="form-group">
    <div class="card" style="min-height: 365px;">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link">{{ tempWallboarData._incidentTitle }}</a>
                    </li>
                </ul>
            </div>
        <div class="row" [hidden]="!showCountDown()">
            <div class="col-lg-6">

                <div class="card-block">
                    <div [attr.data-timer]="elapseTime" [ngClass]="tempWallboarData._incidentNumber" style="min-height: 300px;">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Incident Number: {{ tempWallboarData._incidentNumber }}</li>
                    <li class="list-group-item">Severity Number: {{ tempWallboarData._severityNumber }}</li>
                    <li class="list-group-item">Tech/OP Bridge: {{ tempWallboarData._techOpBridge }}</li>
                    <li class="list-group-item">IM/Tech Lead: {{ tempWallboarData._imTechLead }}</li>
                    <li class="list-group-item">Incident Summary: {{ tempWallboarData._incidentSummary }}</li>
                </ul>
            </div>
        </div>
        <div class="row" [hidden]="!showCountUp()">
            <div class="col-lg-12">
                <div class="card-block">
                    <div [attr.data-date]="tempWallboarData._startDate" [ngClass]="incidentNumberCounter" class="col-lg-12" style="min-height: 170px;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Incident Number: {{ tempWallboarData._incidentNumber }}</li>
                    <li class="list-group-item">Severity Number: {{ tempWallboarData._severityNumber }}</li>
                    <li class="list-group-item">Tech/OP Bridge: {{ tempWallboarData._techOpBridge }}</li>
                </ul>
            </div>
            <div class="col-lg-6">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">IM/Tech Lead: {{ tempWallboarData._imTechLead }}</li>
                    <li class="list-group-item">Incident Summary: {{ tempWallboarData._incidentSummary }}</li>
                </ul>
            </div>
        </div>

    </div>
</div>